/* ESTILOS PARA TABLA DONDE SOLO SE VE 
LISTADO CON HEADER PARA HEIGHT CORRECTO */
.tabla-listado {
  height: calc(100vh - 85px);
  min-height: 600px;
}

/* ***************************************** */
/* ESTILOS PARA TABLA PARA QUE SE VEA 
/* TIPO STRIPED Y CAMBIE EL COLOR DEL HEADER */
/* ***************************************** */
.striped-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

/* Color de fondo para el encabezado */
.striped-table thead {
  background-color: #78909C;
}

/* Formato del texto en el encabezado */
.striped-table thead th {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}